/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font : 18px/36px 'Courier New', Courier, monospace;
    background-color: #F9F8F6;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 3px 3px 3px #C9B59C;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.container {
    width: 600px;
    background-color: #EFE9E3;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /* overflow: hidden; */
    border: 5px solid #F9F8F6;
    float: left;
    margin: 10px;
    position: relative;
}

.gallery li, .gallery li a img, .gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(201, 181, 156, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: black;
    text-shadow: 1px 1px 1px lightgray;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: 0.3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(201, 181, 156, 0);
    z-index: 9999;
    transition: 0.5s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background-color: rgba(201, 181, 156, 0.8);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.overlay:target img  {
    animation: zoomDanFade 0.5s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 70%;
    margin-left: -20px;
    color: black;
    text-decoration: none;
    background-color: #F9F8F6;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade 0.3s 0.3s forwards;
}

.overlay:target .next,
.overlay:target .prev{
    animation: fade 0.5s 0.5s forwards;
}

.next, .prev {
    width: 57px;
    height: 93px;
    background-image: url(img/previous-next-buttons__1_-removebg-preview.png);
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(img/previous-next-buttons-removebg-preview.png);
    margin-left: -100px;
}

.slide {
  width: 500px;
  height: 280px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.slides {
  display: flex;
  height: 100%;
  animation: slideAnimation 12s infinite;
}

.slide-img {
  width: 100%;
  flex-shrink: 0;
}

@keyframes slideAnimation {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }

  25% { transform: translateX(-100%); }
  45% { transform: translateX(-100%); }

  50% { transform: translateX(-200%); }
  70% { transform: translateX(-200%); }

  75% { transform: translateX(-300%); }
  95% { transform: translateX(-300%); }

  100% { transform: translateX(0); }
}

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes zoomDanFade {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0%{
        opacity: 0;
        margin-top: -20px;
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

